<div class="content">
    <div class="nav-bar">
       <div class="account">
        <a href=""><img src="..\assets\pdp.jpg" alt="pdp"></a>
        <a href=""><h4>Charaabi Imen</h4></a>
        <a href="mailto: charaabiimen4@gmail.com">charaabiimen4@gmail.com</a>
      </div>
      <div class="links">
        <a href=""><i class="fa-solid fa-chart-line iconLink"></i>Dashboard</a>
        <a href="" class="active"><i class="fa-solid fa-user iconLink"></i>Users</a>
        <a href=""><i class="fa-solid fa-user-group iconLink"></i>Customers</a>
      </div>
    </div>
    <div class="main">
    </div>
  </div>
