<!-- ======= card ======= -->
<div class="userCard">
  <img
    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
    alt="pdp"
  />
  <div>
    <h2>lorem</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima veritatis,
      quis expedita beatae nihil vel, temporibus unde autem assumenda dolores
    </p>
  </div>
</div>
<!-- =======// card //======= -->
