<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
  </head>
  <body>
    <div class="loginBox">
      <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

      <div class="header">
        <i class="fa-solid fa-arrow-right-from-bracket leave"></i>
        <h2>Login</h2>
      </div>
      <form action="" get="post" >
        <div>
          <input type="text" name="username"  placeholder="Username" required maxlength="40" [(ngModel)]="username" >
       <i class="fa-solid fa-user icon"></i>
        </div>
        <div>
          <input type="password" name="password"  placeholder="Password" required maxlength="40" [(ngModel)]="password">
          <i class="fa-solid fa-lock icon"></i>
        </div>
        <input  (click)="handleLogin()" type="submit" value="LOG IN">
        <a href="">Forget your Password ?</a>
      </form>
    </div>
  </body>
</html>
