<header>
    <nav class="navbar navbar-expand-md navbar-dark ">   
        <div><img src="..\assets\logo.png" alt="logo" class="navbar-brand"></div>
        <ul class="navbar-nav">
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf ="!hardcodedAuthenticationService.isUserLoggedIn()"routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>